body{ 
    /* width: auto;  */
    margin: 0 0; 
    display: grid;
    grid-template-rows: 150px 1fr 100px;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
  } 


header{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;  
    margin: 0 auto; 
    z-index: 20;
    transition: all ease-in-out 550ms;
    background: rgba(255, 255, 255, 0.15); 
    /* height: 200px;   */
 } 

/* .img1{
    width: 100px;
  } */

.img2{
   
    position: absolute;
    right: 415px;
    top: 275px;
    
  }


.img3{

    position: absolute;
    right: 0.1px;
    top: 80px;
}


.line{
    text-align: center;
    position: absolute;
    right: 560px;
    top: 450px;
    color: white;
}

  .new{
      text-align: center;
      position: absolute;
      right: 680px;
      top: 470px;
      padding-top: 2px;
      color: white;
  }

.drop{
    border-radius: 5px;
    position: absolute;
    right: 1px;
    bottom: 630px;
    size: 250px;
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 43);
    background-color: white;
} 

.search{
    position: absolute;
    right: 50px;
    top: 15px;
}

form button{
    position: absolute;
    right: 0.1px;
}   

.ground{
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 35px;
    position: absolute;
    right: 660px;
    top: 510px;
    width: 200px;
    height: 50px; 
 } 

.icons{
    text-align: center;
    padding-right: 60px;
    padding-top: 20px;
}

.mission{
    width: 100%;
    padding-top: 700px;
}

.logo{
    width: 50mm;
    align-items: center;
    position: absolute;
    left: 733px;
    top: 825px;

}

.ourmission{
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-style: normal;
    font-weight: 100;
    
    /* size: 10mm; */
}

.inspire{
    text-align: center;
    color: midnightblue;
    font-style: normal;
    font-weight: 100;
}

.injazeducation{
    position: absolute;
    left: 522px;
    top: 1010px;
}

.mystartup{
    position: absolute;
    left: 835px;
    top: 1025px;
}

.Explorered{
    position: absolute;
    left: 617px;
    top: 1105px;
    font-size: small;
    /* border: white;
    border-color: white;
    background-color: white; */
    color: midnightblue;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.redtringle1{
    position: absolute;
    left: 665px;
    top: 1105px;
}

.Exploreyellow{
    position: absolute;
    left: 900px;
    top: 1103px;
    font-size: small;
    /* border: white;
    border-color: white;
    background-color: white; */
    color: midnightblue;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.yellowtringle{
    position: absolute;
    left: 948px;
    top: 1101.5px;
}

.outreachandimpact{
    padding-top: 130px;
}

.outreach{
    text-align: center;
    color: white;
    position: absolute;
    top: 1250px;
    left: 560px;
    font-size: xx-large;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 100;
}

.training{
    position: absolute;
    left: 380px;
    top: 1470px;
}

.youth{
    position: absolute;
    left: 700px;
    top: 1470px;
}

.volunteering{
    position: absolute;
    left: 1005px;
    top: 1470px;
}

.num1{
    position: absolute;
    left: 377px;
    top: 1600px;
    color: white;
    font-size: xx-large;
    font-style: normal;
    font-weight: 100;
}

.num2{
    position: absolute;
    left: 710px;
    top: 1600px;
    color: white;
    font-size: xx-large;
    font-style: normal;
    font-weight: 100;
}

.num3{
    position: absolute;
    left: 1015px;
    top: 1600px;
    color: white;
    font-size: xx-large;
    font-style: normal;
    font-weight: 100;
}

.Training{
    position: absolute;
    left: 390px;
    top: 1650px;
    color: white;
    font-size: small;
    font-style: normal;
    font-weight: 100;
}

.Youth{
    position: absolute;
    left: 700px;
    top: 1650px;
    color: white;
    font-size: small;
    font-style: normal;
    font-weight: 100;
}

.Volunteering{
    position: absolute;
    left: 1000px;
    top: 1650px;
    color: white;
    font-size: small;
    font-style: normal;
    font-weight: 100;
}

.learnmore{
    position: absolute;
    left: 1400px;
    top: 1810px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}

.redtringle2{
    position: absolute;
    left: 1475px;
    top: 1805px;
    
}

.corebackground{
    width: 100%;
    position: absolute;
    top: 1858px;
}

.values{
    position: absolute;
    top: 1900px; 
    left: 510px;
    font-size: xx-large;
    font-style: normal;
    font-weight: 100;
}

.conviction{
    position: absolute;
    top: 1970px; 
    left: 328px;
    font-size: x-large;
    font-style: normal;
    /* font-weight: 100; */
    color: midnightblue;
}

.redblue{
    position: absolute;
    left: 350px;
    top: 2070px;
}

.dev{
    position: absolute;
    left: 392px;
    top: 2125px;
    text-align: center;
    font-size: x-large;
    font-style: normal;
    font-weight: 100;
    color: white;
}

.blueblue{
    position: absolute;
    left: 650px;
    top: 2070px;
}

.nurturing{
    position: absolute;
    left: 683px;
    top: 2125px;
    text-align: center;
    font-size: x-large;
    font-style: normal;
    font-weight: 100;
    color: white;
}

.goldblue{
    position: absolute;
    left: 980px;
    top: 2070px;
}

.promoting{
    position: absolute;
    left: 1020px;
    top: 2125px;
    text-align: center;
    font-size: x-large;
    font-style: normal;
    font-weight: 100;
    color: white;
}

.learnmore1{
    position: absolute;
    left: 710px;
    top: 2330px;
    color: midnightblue;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: large;
    font-style: normal;
    font-weight: 100;
}

.redtringle3{
    position: absolute;
    left: 815px;
    top: 2328px;
}

.partnersbackground{
    position: absolute;
    top: 2395px;
}

.PARTNERS{
    position: absolute;
    left: 700px;
    top: 2450px;
    font-size: xx-large;
    font-style: normal;
    font-weight: 100;
    
}

.taj{
    position: absolute;
    left: 845px;
    top: 2441px;
}

.INJAZ{
    position: absolute;
    left: 317px;
    top: 2525px;
    font-size: x-large;
    font-style: normal;
    /* font-weight: 100; */
    color: midnightblue;
}

.jordanbank{
    position: absolute;
    top: 2680px;
    left: 115px;
}

.itehadbank{
    position: absolute;
    top: 2680px;
    left: 375px;
}

.ylogo{
    position: absolute;
    top: 2680px;
    left: 550px;
}

.aramex{
    position: absolute;
    top: 2680px;
    left: 738px;
}

.aces{
    position: absolute;
    top: 2680px;
    left: 930px;
}

.arabbank{
    position: absolute;
    top: 2680px;
    left: 1117px;
}

.kawar{
    position: absolute;
    top: 2680px;
    left: 1313px;
}

.miqdadi{
    position: absolute;
    top: 2778px;
    left: 135px;
}

.islamicarabbank{
    position: absolute;
    top: 2778px;
    left: 365px;
}

.jlogo{
    position: absolute;
    top: 2778px;
    left: 550px;
}

.iskanbank{
    position: absolute;
    top: 2778px;
    left: 747px;
}

.haya{
    position: absolute;
    top: 2778px;
    left: 935px;
}

.solidrity{
    position: absolute;
    top: 2778px;
    left: 1118px;
}

.eylogo{
    position: absolute;
    top: 2770px;
    left: 1313px;
}

.toyota{
    position: absolute;
    top: 2880px;
    left: 135px;
}

.cairoammanbank{
    position: absolute;
    top: 2875px;
    left: 365px;
}

.nathealth{
    position: absolute;
    top: 2875px;
    left: 555px;
}

.metlife{
    position: absolute;
    top: 2887px;
    left: 747px;
}

.mashrek{
    position: absolute;
    top: 2878px;
    left: 925px;
}

.madfoatcom{
    position: absolute;
    top: 2878px;
    left: 1118px;
}

.landmark{
    position: absolute;
    top: 2875px;
    left: 1307px;
}

.orange{
    position: absolute;
    top: 2980px;
    left: 135px;
}

.jordankuwaitbank{
    position: absolute;
    top: 2983px;
    left: 376px;
}

.bibisko{
    position: absolute;
    top: 2980px;
    left: 568px;
}

.umniah{
    position: absolute;
    top: 2970px;
    left: 720px;
}

.standrd{
    position: absolute;
    top: 2982px;
    left: 932px;
}

.sts{
    position: absolute;
    top: 2985px;
    left: 1120px;
}

.sgbj{
    position: absolute;
    top: 2981px;
    left: 1308px;
}

.philadilphia{
    position: absolute;
    top: 3087px;
    left: 138px;
}

.omntrade{
    position: absolute;
    top: 3087px;
    left: 376px;
}

.offtec{
    position: absolute;
    top: 3089px;
    left: 566px;
}

.national{
    position: absolute;
    top: 3089px;
    left: 748px;
}

.zain{
    position: absolute;
    top: 3096px;
    left: 943px;
}

.alogo{
    position: absolute;
    top: 3090px;
    left: 1120px;
}

.islamicarabbank1{
    position: absolute;
    top: 3090px;
    left: 1315px;
}

.learnmore2{
    position: absolute;
    left: 730px;
    top: 3205px;
    color: midnightblue;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: large;
    font-style: normal;
    font-weight: 100;
}

.redtringle4{
    position: absolute;
    left: 835px;
    top: 3203px;
}

.leftarrow{
    position: absolute;
    left: 38px;
    top: 2875px;
}

.rightarrow{
    position: absolute;
    left: 1430px;
    top: 2875px;
}